.green {
    height: 80px;
    border: 5px solid white;
}

.red {
    border: 5px solid white;
}

.redBarra{
    height: 10vh;
    border: 5px solid white;
}

.pink{
    height: 10vh;
    background-color: pink;
    border: 5px solid white;
}

.orange {
    height: 35vh;
    background-color: orange;
    border: 5px solid white;
}

.blue {
    height: 26vh;
    background-color: blue;
    border: 5px solid white;
}

.green2 {
    height: 40px;
    border: 5px solid white;
}
